<div class="mx-auto text-center" style="width: 500px; margin-top: 15em">
  <h1 class="cover-heading">Helloo, This is my page</h1>
  <div>
    <p class="lead">Cover is a one-page template for building simple and beautiful home pages. Download, edit the text, and add your own fullscreen background photo to make it your own.</p>
    <%= link_to("Let's go", articles_path, class: "btn btn-primary btn-lg") %>
  </div>
</div>
