#error_explanation{
  text-align: left;
}

.field_with_errors {
  .form-control {
    border-color: red;
  }
}

#cancel-account {
  border: 1px solid red;
  border-radius: 7px;
  width: 30em;
  margin: auto;
  margin-top: 5em;
  text-align: center;
}

.badge-danger-custom {
  position: absolute;
  left: 5px;
  top: 5px;
}
